

<meta charset="utf-8" />
<title><%= head.title %></title>
<% if (head.description) { %>
<meta name="description" content="<%= head.description %>" />
<% } %> <% if (head.author) { %>
<meta name="author" content="<%= head.author %>" />
<% } %>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link
  href="https://fonts.googleapis.com/css?family=Roboto+Slab|Hind+Vadodara:400,600"
  rel="stylesheet"
  type="text/css"
/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="css/normalize.css" />
<link rel="stylesheet" href="css/main.css" />
<link rel="icon" type="image/png" href="/img/favicon-32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/img/favicon-64.png" sizes="64x64" />
<link
rel="apple-touch-icon"
href="/img/favicon-180.png"
sizes="180x180"
></link>
<meta property="og:title" content="<%= head.title %>" />
<meta property="og:type" content="article" />
<meta property="og:image" content="https://fightfordemocracystory.co.il/img/og-image.png" />
<meta name="twitter:card" content="summary_large_image">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FN7JTZG61K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FN7JTZG61K');
</script>
<script src="https://unpkg.com/emojisplosion/lib/global.js"></script>
